{% extends "base.html" %}

{% block content %}

<h2 style="margin-bottom:20px;">📄 Dokumenty</h2>

<style>
.card {
    background:white;
    border:1px solid #e5e7eb;
    border-radius:12px;
    margin-bottom:20px;
    overflow:hidden;
}

.header {
    background:#f9fafb;
    padding:10px 15px;
    font-weight:600;
    border-bottom:1px solid #eee;
}

.row {
    display:flex;
    justify-content:space-between;
    padding:12px 15px;
    border-top:1px solid #eee;
}

.row:hover {
    background:#fafafa;
}
</style>

{% for day, docs in days.items() %}
<div class="card">

<div class="header">
    {{ day }}
</div>

{% for d in docs %}
<div class="row">
    <span>{{ d[5] }}</span> <!-- numer -->
    <span>{{ d[2] }}</span> <!-- kontrahent -->
</div>
{% endfor %}

</div>
{% endfor %}

{% endblock %}
